.cardd{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    height:750px;
}

h1{
    text-align: center;
    padding-top: 5%;
    color: white;
}
.main{
    background-image: url('../../../public/background.jpg');
    
}